.row  
  /image_tag("arrow-previous.jpeg", width:25)
  %p= link_to t('back'), ideas_path
  %table.border{border:"1"}
    %td.border
      %table
        %tr
          %td
            = show_image(current_idea.user, width:20)
            %b
              - if can? :show, current_idea.user
                = link_to current_idea.user.name, current_idea.user
              - else  
                = current_idea.user.name
          %td{align:"right"}= format_date(current_idea.user.created_at)
        %tr
          %td{colspan:"2"}
            %h4= current_idea.name 
        %tr
          %td= show_idea_image(current_idea, width: 100)
          %td{valign:"top"}
            %p= current_idea.description
      %br
      = t '.last_edited' 
      = format_date(current_idea.user.updated_at)
      %br
      = link_to t('edit'), edit_idea_path(current_idea) if can? :update, current_idea
      = link_to t('delete'), current_idea, method: :delete, data: { confirm: 'Are you sure?' } if can? :delete, current_idea
  /Content für Kommentare
  %h4= t '.comments'
  = render current_idea.comments
  = render "comments/form", current_comment: current_idea.comments.new