<h2><%= t('.headline', name: current_user.name) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div><%= f.label :name %>
    <%= f.text_field :name %>
  </div><br />

  <div><%= f.label :picture %>
    <% if current_user.picture.present? %>
      <%= show_image(current_user, width: 100) %>
    <% end %>
    <%= f.file_field :picture, accept: "image/*" %>
  </div><br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.wait_confirmation_for', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div><%= f.label :password %> <i> <%= '(' + t('.leave_blank') + ')' %> </i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation,  t('devise.confirm_password') %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div><br />

  <div><%= f.label :current_password %> <i><%= t('.password_to_confirm') %></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div><br />

  <div><%= f.submit t('.submit') %></div>
<% end %>

<h3><%= t('.cancel_account') %></h3>

<p><%= t('.unhappy') %> 
    <%= button_to t('.cancel_account'), registration_path(resource_name), data: { confirm: t('confirm') }, method: :delete %></p>

<%= link_to t('back'), :back %>
