<!-- 
<div>
<h2>Sign up</h2>

< %= render 'form' %>

< %= link_to 'Back', ideas_path %>
</div> 
-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  	<%= f.email_field :email, autofocus: true %>
  </div><br>

  <div><%= f.label :name %>
  	<%= f.text_field :name %>
	</div><br>

  <div><%= f.label :picture %>
    <%= f.file_field :picture, accept: "image/*" %>
  </div>

  <div><%= f.label :password %> 
  	<% if @validatable %>
  		<i>(<%= @minimum_password_length %> characters minimum)</i>
  	<% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div><br>

  <div><%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br>

  <div>
  		<%= f.submit %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
