.comment
  = show_image(comment.user, width:20)
  %b
    - if can? :show, comment.user
      = link_to comment.user_name, comment.user
    - else
      = comment.user_name
  %br
  %p= comment.body
  %p
    = link_to 'Edit', edit_idea_comment_path(current_idea, comment) if can? :update, comment
    = link_to 'Delete', idea_comment_path(current_idea, comment), method: :delete, data: { confirm: 'Are you sure?'} if can? :delete, comment