<h2><%= t '.headline' %></h2>

<table>
  <thead>
    <tr>
      <th><%= t 'comments.user_name' %></th>
      <th><%= t 'comments.body' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% current_comments.each do |comment| %>
      <tr>
        <td><%= comment.user_name %></td>
        <td><%= comment.body %></td>
        <td><%= link_to t('show'), idea_comment_path(comment.idea_id, comment) %></td>
        <% if can? :update, comment %>
          <td><%= link_to t('edit'), edit_idea_comment_path(comment.idea_id, comment) %></td>
        <% end %>
        <% if can? :delete, comment %>
          <td><%= link_to t('delete'), idea_comment_path(comment.idea_id, comment), method: :delete, data: { confirm: t('confirm') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_comment'), new_idea_comment_path(current_idea) %>
