<p>
  <strong><%= t('comments.user_name') %>:</strong>
  <%= current_comment.user_name %>
</p>

<p>
  <strong><%= t('comments.body') %>:</strong>
  <%= current_comment.body %>
</p>

<%= link_to t('edit'), edit_idea_comment_path(current_comment.idea_id, current_comment) %> |
<%=  link_to t('delete'), idea_comment_path(current_comment.idea_id, current_comment), method: :delete, data: { confirm: t('confirm') } %> |
<%= link_to t('back'), idea_comments_path(current_comment.idea_id) %>
