<!-- <p id="notice"><%= notice %></p>  - dient normalerweise dem Anzeigen von Nachrichten, wird aber in der application.html.erb ausgegeben-->

<p>
  <strong>User name:</strong>
  <%= current_comment.user_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= current_comment.body %>
</p>

<p>
  <strong>Idea:</strong>
  <%= current_comment.idea_id %>
</p>

<%= link_to 'Edit', edit_idea_comment_path(current_comment.idea_id, current_comment) %> |
<%=  link_to 'Delete', idea_comment_path(current_comment.idea_id, current_comment), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to 'Back', idea_comments_path(current_comment.idea_id) %>
