.user
  = show_image(user, width:100)
  - if user.locked?
    = t('.locked')
  %br
  - if can? :read_id, user
    ID: #{user.id}
    %br
  - if can? :read_email, user || user == current_user
    = t('.email') + ':'
    = mail_to user.email, user.email
  - if can? :update, user
    %br
    = link_to t('.edit', name: user.name), edit_user_registration_path
  %br
  - if current_user && current_user.admin?
    - unless user.locked
      = link_to t('.lock', name: user.name), lock_user_path(user.id)
    - else
      = link_to t('.unlock', name: user.name), unlock_user_path(user.id)
    %br
    = link_to t('.delete', name: user.name), user_path(user), data: {confirm: t('.confirm', name: user.name)}, method: :delete