%h3= t('.headline')
- user_profiles.in_groups_of(3,false) do |user_group|
  .span5
    - user_group.each do |user|
      %h3= link_to user.name, user
      = render user
      %p
        .ideas
          = t 'users.idea_list', name: user.name
          - user.ideas.each do |idea|
            .idea
              = link_to idea.name, idea
              %br