%p
  %h3= current_user_profile.name
  = render current_user_profile
%p
  - if current_user_profile.ideas.count > 0
    %h4= "#{current_user_profile.name}s Ideas:"
    = render current_user_profile.ideas
